[submodule "homebrew-brew"]
	path = homebrew-brew
	url = https://github.com/wix/homebrew-brew
[submodule "ObjCCLIInfra"]
	path = ObjCCLIInfra
	url = https://github.com/wix/ObjCCLIInfra.git
[submodule "fmdb"]
	path = fmdb
	url = https://LeoNatan@github.com/ccgus/fmdb.git
