[submodule "homebrew-brew"]
	path = homebrew-brew
	url = git@github.com:wix/homebrew-brew.git
[submodule "ObjCCLIInfra"]
	path = ObjCCLIInfra
	url = git@github.com:wix/ObjCCLIInfra.git
[submodule "fmdb"]
	path = fmdb
	url = git@github.com:ccgus/fmdb.git
